%td= link_to dateit(row.original_posts_created_at), original_post_path(row.original_posts_id)
%td= link_to row.original_posts_first_name,         original_post_path(row.original_posts_id)
%td= link_to row.original_posts_last_name,   original_post_path(row.original_posts_id)
