= title "O projektu"
- if can? :manage, ProjectInfo
  %nav#editors-resource-menu
    %ul
      = render "common/new_edit_nav", :collection => collection

- if collection.present?
  = render "common/markdown_it", :content => collection.last.content
