= title "Več o projektu"
%p
  Starosti prijazna mesta (SPM) je dopolnitev projekta – gibanja SPM, ki teče pod okriljem
  Svetovne zdravstvene organizacije pri OZN od 2007. V Sloveniji, skrbi za uvajanje SPM,
  v sodelovanju z županstvi in slovensko vlado, Inštitut Antona Trstenjaka.
%p
  Ljudje žive dlje, več kot polovica jih živi v mestih. Velikost mest, število prebivalcev,
  narašča hitreje, kot pa so na to rast pripravljena mesta.
%p
  Spletna stran Starosti prijazno mesto (SPM) je namenjena starejšim, da lahko
  %strong podajajo pobude
  (vprašanja, predloge, komentarje), ki lahko pripomorejo, da postanejo njihova mesta
  prijaznejša do starejših, s tem pa tudi za vse ostale. Pobudo
  lahko vnesejo v računalnik, z namenom, da dobijo nanjo tudi odgovor. Lahko
  spremljajo, komu je bila pobuda posredovana in kakšen je odgovor.
%p
  Seveda so podane pobude lahko tudi osnova za delo ustanov, občinske uprave, da
  jih lahko uvrstijo tudi v svoje programe.