%h2 Dogodki

.events
  - if @events.present?
    - for event in @events
      - if event.date_and_time_at.today?
        = render "events/todays_event", :event => event
      - else
        = render "events/upcoming_event", :event => event
  - else
    %p.no_events_message Trenutno ni prihajajoÄih dogodkov
            
    