%p.upcoming
  .time-and-location
    .date= l event.date_and_time_at, :format => :short_date
    ob
    .time= l event.date_and_time_at, :format => :time_only
    v
    .address= event.address
  %span
    = link_to event.title, event_path(event.id)
