.comments
  = title "Komentarji"

  - unless @comments.present?
    %article
      %h2= "Trenutno ni komentarjev."
  - @comments.each do |date_of_creation, comments|
    %article
      %h2 Objavljeno dne #{ l date_of_creation, :format => :default }
      - for comment in comments
        .comment
          = render "title_content", :thing => comment

  