.container
  .one.columns= image_tag("velenje.png", :id => "logo")
  .eleven.columns.glava
    = link_to "<h1>VELENJE</h1><h5>Starosti prijazno mesto</h5>".html_safe, root_path
  .four.columns
    .time-and-date
      %span#time
      %span#date
