.container
  .twelve.columns
    #nav
      = render "common/navigation_menu"
  .four.columns
    = link_to "Ustvari <span>VPRAŠANJE, KOMENTAR, PREDLOG</span>".html_safe, new_original_post_path, :class => "add_button"
